{{- /*
If the operator configures the ingress input variable, then also create an Ingress resource that will route to the
service. Note that Ingress can only route to a Service, so the operator must also configure a Service.
*/ -}}
{{- if .Values.ingress.enabled -}}
{{- /*
We declare some variables defined on the Values. These are reused in `with` and `range` blocks where the scoped variable
(`.`) is rebound within the block.
*/ -}}
{{- $fullName := include "k8s-service.fullname" . -}}
{{- $ingressPath := .Values.ingress.path -}}
{{- $additionalPathsHigherPriority := .Values.ingress.additionalPathsHigherPriority }}
{{- $additionalPaths := .Values.ingress.additionalPaths }}
{{- $servicePort := .Values.ingress.servicePort -}}
{{- if .Capabilities.APIVersions.Has "networking.k8s.io/v1beta1" }}
apiVersion: networking.k8s.io/v1beta1
{{- else }}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    gruntwork.io/app-name: {{ .Values.applicationName }}
    # These labels are required by helm. You can read more about required labels in the chart best practices guide:
    # https://docs.helm.sh/chart_best_practices/#standard-labels
    app.kubernetes.io/name: {{ include "k8s-service.name" . }}
    helm.sh/chart: {{ include "k8s-service.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
{{- if .Values.ingress.annotations }}
{{- with .Values.ingress.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
{{- end }}
spec:
{{- if .Values.ingress.tls }}
{{- with .Values.ingress.tls }}
  tls:
{{ toYaml . | indent 4}}
{{- end }}
{{- end }}
  rules:
    {{- if .Values.ingress.hosts }}
    {{- range .Values.ingress.hosts }}
    - host: {{ . | quote }}
      http:
        paths:
          {{- range $additionalPathsHigherPriority }}
          - path: {{ .path }}
            backend:
              serviceName: {{ if .serviceName }}{{ .serviceName }}{{ else }}{{ $fullName }}{{ end }}
              servicePort: {{ .servicePort }}
          {{- end }}
          - path: {{ $ingressPath }}
            backend:
              serviceName: {{ $fullName }}
              servicePort: {{ $servicePort }}
          {{- range $additionalPaths }}
          - path: {{ .path }}
            backend:
              serviceName: {{ if .serviceName }}{{ .serviceName }}{{ else }}{{ $fullName }}{{ end }}
              servicePort: {{ .servicePort }}
          {{- end }}
    {{- end }}
    {{- else }}
    - http:
        paths:
          {{- range $additionalPathsHigherPriority }}
          - path: {{ .path }}
            backend:
              serviceName: {{ if .serviceName }}{{ .serviceName }}{{ else }}{{ $fullName }}{{ end }}
              servicePort: {{ .servicePort }}
          {{- end }}
          - path: {{ $ingressPath }}
            backend:
              serviceName: {{ $fullName }}
              servicePort: {{ $servicePort }}
          {{- range $additionalPaths }}
          - path: {{ .path }}
            backend:
              serviceName: {{ if .serviceName }}{{ .serviceName }}{{ else }}{{ $fullName }}{{ end }}
              servicePort: {{ .servicePort }}
          {{- end }}

    {{- end }}
{{- end }}
